.odd-numbers {
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

.even-numbers {
    color: blue;
    font-size: 36px;
}

#Third {
    font-size: 24px;
}


#Fourth {
    background-color: lightgreen;
    font-size: 24px;
    font: bold;

}