/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  display: flex;
  /* makes header a flex container */
  align-items: center;
  /* to center everything vertically inside of header */
  padding: 8px;
  /* 8px space from edges */
  justify-content: space-between;
  /* pushes items to the edges */
}

nav ul {
  display: flex;
  /* makes the list a flex container */
  gap: 16px;
  /* adds space between items in the list */
  padding: 0;
  /* removes default padding from the list */
  margin: 0;
  /* removes default margin from the list */
}

.header-left,
.header-right {
  display: flex;
  /* makes header-left and header-right flex containers */
  align-items: center;
  /* to center everything vertically inside of header-left and header-right */
  gap: 16px;
  /* adds space between items in header-left and header-right */
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;
}